// Import Bootstrap variables and mixins if needed
@import "~bootstrap/scss/bootstrap";

// Variables
$dark-bg-color: #343a40;
$font-size-large: 24px;
$font-size-medium: 18px;

// Global styles
body {
  font-family: Arial, sans-serif;
  padding: 0;
  box-sizing: border-box;
}

// Navbar styles
.navbar {
  background-color: $dark-bg-color;
  color: #fff;
  display: flex;
  min-height: 80px;
  overflow-x: none;
}

.input-container {
  display: flex;
  height: 80px;
  border-bottom: 1px solid $dark-bg-color;
}

input {
  outline: none;
  border-color: unset;
  border: none !important;
  border-radius: 0;
  box-shadow: none !important;
  font-size: $font-size-large !important;
}

button {
  width: 160px;
  background: $dark-bg-color;
  border-radius: 0;
  color: white;
  outline: none;
  border: none;
  font-size: $font-size-large;
  font-weight: bold;
}

.navbar-brand {
  font-size: $font-size-large;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  flex-basis: 25%; /* 3 cards in a row */
  padding: 0;
  color: white;
  font-size: $font-size-medium;
  overflow: hidden;
  position: relative;
  border-radius: 0;
  transition: transform 0.3s ease;

  &:before {
    content: "";
    display: block;
    padding-top: 75%; /* 3/4 height of width */
  }

  &:hover {
    transform: scale(1.1);
    z-index: 10;
  }

  @media (max-width: 992px) {
    flex-basis: 33%; /* 2 cards in a row */
  }

  @media (max-width: 768px) {
    flex-basis: 50%; /* 1 card in a row */
  }
}

.card-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}

.loader,
.no-result-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;

  &::after {
    content: "";
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no-result-message {
  color: #333;
  font-size: 1.2rem;
}
